<!DOCTYPE html>
<html>

<head>
    <title>Gossip Network Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Gossip Network Visualizer</h1>
        </div>

        <div class="input-section">
            <form class="input-form" onsubmit="sendMessage(event)">
                <input type="text" id="message" placeholder="Введите сообщение для отправки" required>
                <button type="submit">Отправить</button>
            </form>
        </div>

        <div id="times-output" style="white-space: pre-wrap; margin-top: 10px; font-family: monospace;"></div>

        <div class="main-content">
            <div class="visualization-section">
                <div id="network-container"></div>
            </div>

            <div class="metrics-section">
                <div class="metrics-container">
                    <canvas id="metricsChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>